.child-menu-icon {
    font-size: 1em !important;
}

.summary-delete-form {
    display: inline-block;
}

.text-right {
    text-align: right;
}

.text-center {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.hidden {
    display: none;
}

.small-img {
    width: 70px;
    height: auto;
}

.form-buttons {
    margin-top: .5rem !important;
    margin-bottom: .5rem !important;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    -webkit-box-pack: center !important;
    -ms-flex-pack: center !important;
    justify-content: center !important;
}

.form-buttons button {
    margin-right: 0.5rem;
}

.black_drop_container {
    background-color: rgba(0, 0, 0, 0.4);    
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

body > .black_drop_container
{
    width: 100%;
    height: 100vh;
}