.menu-icon
{
    font-size: 1em !important;
}

.sr-loader-icon
{
    font-size: 8em !important;
}

.sr-loader-container-fixed, .sr-loader-container
{
    z-index: 2;
}

.summary-delete-form
{
    display: inline-block;
}