.menu-icon
{
    font-size: 1em !important;
}

.summary-delete-form
{
    display: inline-block;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.pointer{
    cursor: pointer;
}

.hidden{
    display: none;
}

.small-img{
    width: 70px;
    height: auto;
}